<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body>
    <h1>Edit Post</h1>

    <div>
        <h2><%= post.username %></h2>
        <form action="/posts/<%= post.id %>?_method=PATCH" method="post">
            <textarea name="content" id=""> <%= post.content %> </textarea>
            <button>Submit</button>
        </form>

    </div>
</body>
</html>